.card {
    border: 0;
    border-radius: 1rem;
    width: 100%;

    .card-img-top {
        border-radius: 1rem 1rem 0 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;

        border-radius: 0 0 1rem 1rem;

        .btn {
            align-self: center;
            border-radius: $border-radius-pill;
            margin-top: auto;
        }
    }
}