@import "variables";

// Background 
@each $color, $value in $default-theme-colors {
    .bg-default-#{$color} {
        background-color: $value !important;
    }
}

// Text
@each $color, $value in $default-theme-colors {
    .text-default-#{$color} {
        color: $value !important;
    }
}

// Border
@each $color, $value in $default-theme-colors {
    .border-default-#{$color} {
        border-color: $value !important;
    }
}
