footer  {
    .nav-link {
        display: inline;
        padding-left: 0;
        color: $white;

        &:hover {
            color: $default-yellow;
        }
    }

    .active {
        color: $default-yellow;
    }
}
