.sidebar {
    grid-area: sidebar;

    ul {
        list-style: none;
    }

    .navbar-brand {
        font-size: 1rem;
        margin: 0.5rem 1rem;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $blue-500;
    }

    a {
        font-size: 0.9rem;
    }

    .nav-link {
        color: $default-black;

        transition: margin-left 0.2s;

        &:hover {
            margin-left: 0.5rem;
        }
    }

    .active:before {
        content: "• ";
        color: $primary;
    }
}

@include media-breakpoint-up(lg) {
    .sidebar {
        position: sticky;
        top: 2rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 5rem);
    }
}
