.table-of-contents {
    grid-area: toc;
    font-size: $small-font-size;
    color: $gray-600;

    min-width: 0;
    min-height: 0;

    nav ul {
        display: grid;
        gap: map-get($spacers, 2);

        margin-top: map-get($spacers, 2);

        &:first-child {
            padding-left: 0;
        }

        list-style-type: none;

        li a {
            text-decoration: none;
            color: $gray-600;

            &:hover {
                color: $gray-800;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .table-of-contents {
        position: sticky;
        top: 2rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 5rem);
    }
}