$utilities: map-merge(
    $utilities,
    (
        // Responsive width
        "width": map-merge(
            map-get($utilities, "width"),
            (
                responsive: true
            ),
        ),

        // Responsive height
        "height": map-merge(
            map-get($utilities, "height"),
            (
                responsive: true
            ),
        ),

        // Additional font weight
        "font-weight": map-merge(
            map-get($utilities, "font-weight"),
            (
                values: map-merge(
                map-get(map-get($utilities, "font-weight"), "values"),
                    (
                        medium: $font-weight-medium,
                        semibold: $font-weight-semibold
                    ),
                ),
            ),
        ),

        // Additional font colors
        "color": map-merge(
            map-get($utilities, "color"),
            (
                values: map-merge(
                map-get(map-get($utilities, "color"), "values"), 
                    $default-theme-colors
                ),
            ),
        ),

        // Additional background colors
        "background-color": map-merge(
            map-get($utilities, "background-color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "background-color"), "values"), 
                        $default-theme-colors
                ),
            ),
        ),

        // Additional border colors
        "border-color": map-merge(
            map-get($utilities, "border-color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "border-color"), "values"), 
                        $default-theme-colors
                ),
            ),
        ),

        // Additional border radius
        "rounded": map-merge(
            map-get($utilities, "rounded"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "rounded"), "values"), 
                       (
                           4: 0.75rem, 
                           5: 1rem,
                           6: 1.5rem,
                       )
                ),
            ),
        ),
    )
);
