// Custom Bootstrap
@import "custom";


// Partials
@import "header";
@import "footer";
@import "hero-header";
@import "sidebar";
@import "table-of-contents";

body {
    color: $default-black;
    font-family: Nunito Sans, sans-serif;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Fixes bootstrap modal z-index issue when overlayscrollbars is appended to body element
.os-padding { 
    z-index: auto; 
}
