@import "bootstrap";
@import "~overlayscrollbars/css/OverlayScrollbars.css";

// Partials
@import "header";

body {
    color: #1f2e41;
    font-family: Nunito, sans-serif;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
