// Required Bootstrap Imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

// Global Variables
@import "variables";

// Custom Utilities
@import "utilities";
@import "custom";

// Plugins/Frameworks
@import "bootstrap";
@import "~overlayscrollbars/css/OverlayScrollbars.css";

// Components
@import "card";
@import "buttons";

// Partials
@import "header";
@import "footer";


body {
    color: $default-black;
    font-family: Poppins, sans-serif;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Fixes bootstrap modal z-index issue when overlayscrollbars is appended to body element
.os-padding { 
    z-index: auto; 
}
