// Required bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Custom global variables
@import "variables";

// Components
@import "sidebar";
@import "table-of-contents";
@import "subnavbar";
@import "component-card";

.layout {
    display: grid;
    grid-template-columns: 3fr 11fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar main";
}

main {
    display: grid;
    grid-area: main;
    gap: inherit;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "intro toc" 
        "content toc";

    background-color: $white;
}

.intro {
    grid-area: intro;
}

.content {
    grid-area: content;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-semibold;
}

b {
    font-weight: $font-weight-semibold;
}

@include media-breakpoint-down(lg) {
    .layout {
        grid-template-areas: 
            "sidebar sidebar"
            "main main";
    }

    main {
        grid-template-areas: 
        "intro intro"
        "toc toc"
        "content content";

        margin: 0;
    }
}